<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%highlight{[%d{HH:mm:ss}][%logger{0}:%L] [%p]: %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=light white, DEBUG=blue, TRACE=blue}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
